  
.card-img-top {
    width: 100%;
}

.card {
    padding: 0;
}

.card .card-text {
    padding: 9px;
}

#delete-form {
    display: inline;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}